.hiddenClass  {
    display: none;
}

.book_list  {
    border: solid black 1px;
    margin-bottom: 5px;
    padding: 5px;
    width: 60%;
    align-self: center;
    margin-left: 9%;
    border-radius: 7px;
}

.book_genre_list  {
    border-radius: 5px;
    color: white;
    background-color: slategray;
    padding: 3px;
}

.book_genre_list_div  {
    align-items: center;
    text-align: center;
}
