
/* This is for the login.php and signup.php file */

.formlogin  {
    border-radius: 2rem;
    padding: 1.1em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5em;
}

.formlogininp {
    width: 100%;
    padding: 0.5rem;
    text-align: left;
    border: none;
    border-bottom: 2px inset black;
}

.formlogininp, .formloginlabel  {
    font-size: 1.1em;
}

input[type="submit"]  {
    border: green solid 0.25em;
    font-size: 1.3em;
    margin-top: 1.3em;
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 0.3rem;
    border-radius: 0.4em;
    background-color: whitesmoke;
    color: green;
}

input[type="submit"]:hover  {
    background-color: green;
    color: white;
}  

.formlogin.h1 {
    text-align: center;
}

#formsignup  {
    border: black outset 0.6em;
}

#formlogin  {
    border: black inset 0.6em;
}

@media screen and (max-width: 500px){
    .formlogin  {
        margin: 5%;
        padding: 0;
        border-width: 0 !important;
    }
    .formlogininp  {
        width: 100%;
    }
}

